server:
  port: 9090

spring:
  application:
    name: spring-cloud-gateway
  cloud:
    gateway:
      routes:
        - id: profile-service
          uri: lb://profile-service
          predicates:
            - Path=/api/v1/profiles/**
        - id: project-service
          uri: lb://project-service
          predicates:
            - Path=/api/v1/projects/**
        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/api/v1/tasks/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true